*{
    padding: 0;
    margin: 0;
}
body > header > h1{
    height: 6vh;
    width: 6vw;
    position: absolute;
    top: 2vh;
    left: 2vw;
}

body > header > nav a{
    text-decoration: none;
    color: black;
}
body > header > nav li{
    list-style-type: none;
    height: 5vh;
    width: 5vw;
    position: absolute;
}

body > header > nav li:nth-of-type(1){
    top: 2vh;
    right: 44vw;
}
body > header > nav li:nth-of-type(2){
    top: 2vh;
    right: 37vw;
}
body > header > nav li:nth-of-type(3){
    top: 2vh;
    right: 30vw;
}
body > header > nav li:nth-of-type(4){
    top: 2vh;
    right: 23vw;
}
body > header > nav li:nth-of-type(5){
    top: 2vh;
    right: 16vw;
}
body > header > nav li:nth-of-type(6){
    top: 2vh;
    right: 9vw;
}
body > header > nav li:nth-of-type(7){
    top: 2vh;
    right: 2vw;
}

main h2{
    height: 30vh;
    width: 50vw;
    position: absolute;
    top: 20vh;
    left: 25vw;
    font-size: 5rem;
}
main > section:nth-of-type(1){
    background-color: #D3D3D3;
    height: 240vh;
    width: 100vw;
    position: absolute;
    top: 60vh;
    
}
main h3{
    position: absolute;
    top: 10vh;
    left: 6vw;
}
main p{
    position: absolute;
    top: 10vh;
    right: 6vw;
}
main article{
    background-color: white;
    width: 27vw;
    height: 90vh;
    position: absolute;
}
main article img{
    width: 27vw;
}
main article h4{
    width: 24vw;
    font-size: 1.6rem;
    position: absolute;
    top: 45vh;
    left: 1.5vw;
}
main article p:nth-of-type(1){
    font-size: 1.1rem;
    position: absolute;
    top: 40vh;
    left: 1.5vw;
}
main article p:nth-of-type(2){
    font-size: 1.1rem;
    position: absolute;
    top: 40vh;
    right: 1.5vw;
}
main article p:nth-of-type(3){
    width: 24vw;
    font-size: 1.1rem;
    position: absolute;
    top: 60vh;
    left: 1.5vw;
}
main article p:nth-of-type(4){
    font-size: 1.1rem;
    position: absolute;
    top: 82vh;
    left: 5vw;
}
    
article:nth-of-type(1){
    top: 20vh;
    left: 6vw;
}
article:nth-of-type(2){
    top: 20vh;
    left: 36.5vw;
}
article:nth-of-type(3){
    top: 20vh;
    left: 67vw;
}
article:nth-of-type(4){
    top: 117vh;
    left: 6vw;
}
article:nth-of-type(5){
    top: 117vh;
    left: 36.5vw;
}
article:nth-of-type(6){
    top: 117vh;
    left: 67vw;
}

.img_author{
    height: 40px;
    width: auto;
    border-radius: 100%;
    position: absolute;
    top: 82vh;
    left: 1.5vw;
}

section:nth-of-type(2){
    background-color: white;
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 280vh;
}
section:nth-of-type(2) p{
    position: absolute;
}
section:nth-of-type(2) > h3{
    top: 5vh;
    left: 5vw;
}
section:nth-of-type(2) > p{
    top: 5vh;
    right: 5vw;
}
section:nth-of-type(2) article{
    background-color: #D3D3D3;
    width: 27vw;
    height: 20vh;
    position: absolute;
    
}
section:nth-of-type(2) article:nth-of-type(1){
    top: 20vh;
    left: 6vw;
}
section:nth-of-type(2) article:nth-of-type(2){
     top: 20vh;
    left: 36.5vw;
}
section:nth-of-type(2) article:nth-of-type(3){
    top: 20vh;
    left: 67vw;
}
.meilleurPostImg{
    height: 16vh;
    width: auto;
}
section:nth-of-type(2) article img{
    position: absolute;
    top: 2vh;
    left: 1vw;
}
section:nth-of-type(2) > article > p{
    width: 16vw;
    font-size: 1rem;
    position: absolute;
    top: 4vh;
    left: 9vw;
}

section:nth-of-type(3){
    background-color: #D3D3D3;
    height: 220vh;
    width: 100vw;
    position: absolute;
    top: 340vh;
}
