header{
    background-color: blue;
    height: 10vh;
    width: 100vw;
}
main{
    background-color: green;
    height: 80vh;
    width: 100vw;
}
footer{
    background-color: red;
    height: 10vh;
    width: 100vw;
}
section:nth-of-type(1){
    background-color: yellow;
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 14vh;
    left: 4vw;
}
section:nth-of-type(2){
    background-color: yellow;
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 14vh;
    left: 28vw;
}
section:nth-of-type(3){
    background-color: yellow;
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 14vh;
    left: 52vw;
}
section:nth-of-type(4){
    background-color: yellow;
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 14vh;
    left: 76vw;
    
}section:nth-of-type(5){
    background-color: yellow;
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    
}section:nth-of-type(6){
    background-color: yellow;
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    
}section:nth-of-type(7){
    background-color: yellow;
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    
}section:nth-of-type(8){
    background-color: yellow;
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    
}section:nth-of-type(9){
    background-color: yellow;
    height: 20vh;
    width: 20vw;
    position: absolute;
   top: 50vh;
    left: 50vw;
    
}